
.square {
  float: left;
}

.row{
	width: 480px;
}

.piece_on_black{
  width: 40px;
  height: 40px;
  z-index: 1;
  position: absolute;
  float: left;
  background-image: url(../img/black.png);
}

.piece_on_white{
  width: 40px;
  height: 40px;
  z-index: 1;
  position: absolute;
  float: left;
  background-image: url(../img/white.png);
}

.piece_on_black_red{
  width: 40px;
  height: 40px;
  z-index: 1;
  position: absolute;
  float: left;
  background-image: url(../img/black_red.png);
}

.piece_on_white_red{
  width: 40px;
  height: 40px;
  z-index: 1;
  position: absolute;
  float: left;
  background-image: url(../img/white_red.png);
}